.container {
    position: fixed;
    text-align: center;
    border: 1px solid red;
    width: 23.75%;
    height: 45%;
    right: 76.25%;
    top: 55%;
    overflow: scroll;
}
                       