.label {
    display: inline-block;
}

.container {
    position: fixed;
    float:right;
    text-align: center;
    border: 1px red solid;
    width: 23.75%;
    height: 50%;
    right: 28.75%;
    top: 55%;
}