.container {
    position: fixed;
    top: 0%;
    right: 0%;
    float: right;
    text-align: center;
    /* border: 1px solid red; */
    background-color: #262626;
    height: 100%;
    width: 5%;
}

.button:hover {
    background-color: #4d4d4d;
}

.button {
    height: 45px;
}

.sublogo {
    padding-top: 10%;
}